<div th:fragment="footer" class="footer mt-5 pt-5">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3 col-md-6 mb-4">
                <h1>ShopEase</h1>
                <p>Shop smart. Live easy.</p>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <h3>Useful Pages</h3>
                <ul class="list-unstyled">
                    <li><a th:href="@{/shop}">Products</a></li>
                    <li><a th:href="@{/user/cart}">Cart</a></li>
                    <li><a th:href="@{/checkout}">Checkout</a></li>
                    <li><a th:href="@{/login}">Login</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <h3>Quick Links</h3>
                <ul class="list-unstyled">
                    <li><a th:href="@{/shop}">Home</a></li>
                    <li><a th:href="@{/user/orders}">My Orders</a></li>
                    <li><a th:href="@{/user/cart}">Cart</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <h3>Get in Touch</h3>
                <p><i class="bi bi-geo-alt"></i> Jalgaon, Maharashtra</p>
                <p><i class="bi bi-envelope"></i> sanketjfs@gmail.com</p>
                <p><i class="bi bi-telephone"></i> +91 86575 51767</p>
            </div>

        </div>
    </div>
</div>
