body {
    font-family: 'Poppins', sans-serif;
    background: #f5f7fb;
}


.page-header {
    background: linear-gradient(135deg, #11998e, #38ef7d);
    color: white;
    padding: 3rem 0;
}

.product-card {
    background: white;
    border-radius: 18px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
    transition: transform .3s ease;
    overflow: hidden;
}

.product-card:hover {
    transform: translateY(-8px);
}

.product-img-box {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    background: #f2f2f2;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.product-img-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.price {
    font-size: 1.2rem;
    font-weight: 600;
    color: #11998e;
}

footer {
    background: #111;
    color: #aaa;
}
